@import "assets/styles/base.scss";

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px 10px 20px;
}

.menuBox {
  @include justify-align-center;
  margin-top: 18px;
  margin-left: -20px;
  width: 10rem;
  height: 2rem;
  font-size: 20px;
  .menuArrowTop {
    @include icon-menu-filter;
  }
  .menuMenuFourIcon {
    @include icon-menu-filter;
    background-color: #27323c;
  }
  .menuArrow {
    @include icon-menu-filter;
  }
  .menuMenuTowIcon {
    @include icon-menu-filter;
    margin-left: 7px;
    background-color: #27323c;
  }
}
.software {
  display: none;
}
.branches {
  margin-top: 18px;
}
@media screen and (min-width: 1100px) {
  .software {
    display: flex;
    margin: 0 7px;
  }
}

@media screen and (min-width: 768px) {
  .menuBox {
    display: none;
  }
  .container {
    align-items: center;
    height: 4rem;
    margin: 10px 50px 10px 48px;
    background-color: $color-gray;
    border-radius: 15px;
    padding: 0 8px;
    
  }
  .filterBarRight {
    display: flex;
    align-items: center;
  }
  .branches {
    margin-top: 0;
  }
}
@media screen and (min-width: 425px) {
  .menuBox {
    display: none;
  }
  .container {
    align-items: center;
    height: 4rem;
    margin: 10px 50px 10px 48px;
    border-radius: 15px;
    padding: 0 8px;
  }
  .branches {
    display: none;
  }
}
