.container {
  position: relative;
}
.select {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #1c242b;
  color: white;
  width: 8.5rem;
  height: 2rem;
  border-radius: 5px;
}
.icon {
  fill: white;
  margin-right: 20px;
}
.dropDown {
  direction: rtl;
  padding: 20px 30px 10px 30px;
  background-color: #1c242b;
  color: white;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .select {
    background-color: #303c4a;
    width: 13rem;
    height: 3rem;
    border-radius: 5px;
  }
  .icon {
    margin-right: 20px;
  }
  .dropDown {
    direction: rtl;
    padding: 20px 100px 10px 30px;

    white-space: nowrap;
  }
}
