.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  img {
    width: 100%;
    max-width: 28rem;
    height: auto;
    border-radius: 15px;
  }
}
.itemCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .like {
    margin-left: -80px;
  }
  p {
    color: white;
  }
  span {
    color: #707070;
    margin-left: 10px;
  }
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    color: white;
    margin-right: 1rem;
  }
}

.grid {

  img {
    display: flex;
    width: 100%;
    height: auto;
  }
}
