.container {
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  img {
    width: 100%;
    max-width: 28rem;
    height: auto;
    border-radius: 15px;
  }
}
.itemCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  max-width: 28rem;
  span {
    color: #707070;
  }
}

.eay {
  cursor: pointer;
  span {
    margin-left: 10px;
    cursor: pointer;
  }
}
.like {
  cursor: pointer;

  span {
    margin: 0 10px;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    margin-right: 1rem;
    color: white;
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }
}
